API_URL=http://ec2-18-212-33-45.compute-1.amazonaws.com:8080
CART_COOKIE=_bik_EKL
CART_KEY=fl0werMasterSalakam
INFO_COOKIE=kri_MUK
INFO_KEY=superbikeshop
PAYPAL_CONFIG=process.env.PAYPAL_CONFIG
PAYPAL_SANDBOX=process.env.PAYPAL_SANDBOX
PAYPAL_LIVE=process.env.PAYPAL_LIVE